
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.ben-navbar li {
	display: inline;
	list-style-type: none;
  	height: 40px;
  	line-height: 40px;
  	padding-right: 40px;

}

.ben-navbar {
	background-color: black;
}

.listings table {
	width: 100%;
}